// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
	
div.article-blogs {
	font-size: x-small;
	text-indent: 1em;
}

div.article {
	background-color: #ffffff;
	border: 1px solid #000;
	border-radius: 15px;
	margin: 10px;
	padding: 5px;
	
	h2.title {
		margin: 0px;
	}
	
	div.author {
		font-size: x-small;
		font-weight: bold;
		margin: 0;
		padding: 0;
	}
	
	p {
		margin-bottom: 1em;
		padding: 0;
		text-indent: 1em;
	}
	
	div.date {
		color: #c0c0c0;
		font-size: x-small;
		margin: 0;
		padding: 0;
	}
	
	div.tags {
		padding-left: 15px;
		background-repeat: no-repeat;
		background-position: center left;
		background-image: url("/assets/tag-small.png");
		a:hover {
			color: #000;
		}
		
		color: #c0c0c0;
		font-size: x-small;
		margin: 0;
	}
}